@model BoardGamesStore.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Cart";
}

<div class="d-flex justify-content-between align-items-center mt-5">
    <h2>Cart</h2>

    <form asp-action="CheckoutAll" asp-controller="Cart" method="post">
        <button type="submit" class="btn btn-primary">Замовити все</button>
    </form>
</div>

<div class="d-flex justify-content-between">
    <p><strong>Total Items:</strong> @Model.TotalItems</p>
    <p><strong>Total Price:</strong> @Model.TotalPrice.ToString("0.00$")</p>
</div>

<hr />

<div class="container mt-2">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-12 mb-4">
                <div class="card cart-card position-relative d-flex flex-row align-items-center">
                    <div class="p-3">
                        <img src="@item.BoardGame.BoardGameImages?.FirstOrDefault()?.ImageUrl" class="cart-card-img" alt="Board Game Image">
                    </div>

                    <div class="d-flex justify-content-between align-items-center flex-grow-1 p-3">
                        <div>
                            <h5 class="cart-title">@item.BoardGame.Name</h5>
                            <p class="cart-price">Price: @item.BoardGame.Price.ToString("0.00$")</p>
                        </div>
                    </div>

                    <form asp-action="Checkout" asp-controller="Cart" asp-route-id="@item.BoardGameID" method="post" class="position-absolute" style="top: 20px; right: 20px;">
                        <button type="submit" class="btn btn-primary">Замовити</button>
                    </form>

                    <div class="position-absolute" style="bottom: 20px; right: 20px;">
                        <form asp-action="DecreaseQuantity" asp-controller="Cart" asp-route-id="@item.BoardGameID" method="post" class="d-inline">
                            <button type="submit" class="btn btn-secondary">-</button>
                        </form>

                        <span class="mx-2">@item.Quantity</span>

                        <form asp-action="IncreaseQuantity" asp-controller="Cart" asp-route-id="@item.BoardGameID" method="post" class="d-inline">
                            <button type="submit" class="btn btn-secondary">+</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

