@model BoardGamesStore.ViewModels.BoardGamesViewModel

@{
    ViewData["Title"] = "Board Games";
}

<div class="search-bar col-md-6 mx-auto mb-5 mt-5">
    <div class="input-group d-flex align-items-center">
        <i class="fas fa-search search-bar-icon"></i>
        <input type="text" name="SearchQuery" value="@Model.SearchQuery" class="form-control search-input" placeholder="Search..." onkeyup="if(event.key === 'Enter'){ this.form.submit(); }">
        <button class="btn btn-primary search-btn" type="submit" onclick="this.form.submit()">Search</button>
    </div>
</div>

<form asp-action="Index" method="get">
    <div class="row g-3 mb-4 align-items-end">
        <div class="col-md-2">
            <select name="CategoryID" class="form-select" onchange="this.form.submit()" asp-items="ViewBag.Categories">
                <option value="">All Categories</option>
            </select>
        </div>

        <div class="col-md-2">
            <input type="number" name="MinPrice" value="@Model.MinPrice" class="form-control" placeholder="Min Price" onkeyup="if(event.key === 'Enter'){ this.form.submit(); }">
        </div>

        <div class="col-md-2">
            <input type="number" name="MaxPrice" value="@Model.MaxPrice" class="form-control" placeholder="Max Price" onkeyup="if(event.key === 'Enter'){ this.form.submit(); }">
        </div>

        <div class="col-md-2">
            <select name="SortBy" class="form-select" onchange="this.form.submit()" asp-items="ViewBag.SortOptions"></select>
        </div>

        <div class="col-md-2">
            <select name="SortOrder" class="form-select" onchange="this.form.submit()" asp-items="ViewBag.SortOrderOptions"></select>
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </div>
</form>

<hr />

<div class="container mt-4">
    <div class="row">
        @foreach (var game in Model.BoardGames)
        {
            <div class="col-md-3">
                <div class="card game-card" style="width: 18rem;">
                    <a asp-action="Details" asp-route-id="@game.BoardGameID" class="text-decoration-none">
                        <img src="@game.BoardGameImages?.FirstOrDefault()?.ImageUrl" class="card-img-top" alt="Board Game Image">
                        <div class="card-body">
                            <h5 class="card-title">@game.Name</h5>
                            <p class="card-price">@game.Price.ToString("0.00$")</p>
                        </div>
                    </a>
                    <form asp-action="AddToCart" asp-controller="BoardGames" asp-route-id="@game.BoardGameID" method="post" style="text-align: center">
                        <button type="submit" class="btn btn-primary btn-cart">Додати до кошика</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

<a asp-action="Create" class="btn btn-primary mb-4 mt-4">Add New Board Game</a>
