@model IEnumerable<BoardGamesStore.Models.BoardGame>

@{
    ViewData["Title"] = "Board Games";
}

<h2>Board Games</h2>

<a asp-action="Create" class="btn btn-primary">Add New Board Game</a>

<div class="container mt-5">
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-3">
                <div class="card game-card" style="width: 18rem;">
                    <a asp-action="Details" asp-route-id="@game.BoardGameID" class="text-decoration-none">
                        <img src="@game.BoardGameImages?.FirstOrDefault()?.ImageUrl" class="card-img-top" alt="Board Game Image">
                        <div class="card-body">
                            <h5 class="card-title">@game.Name</h5>
                            <p class="card-price">@game.Price.ToString("0.00$")</p>
                        </div>
                    </a>
                    <form asp-action="AddToCart" asp-controller="BoardGames" asp-route-id="@game.BoardGameID" method="post" style="text-align: center">
                        <button type="submit" class="btn btn-primary btn-cart">Додати до кошика</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
