@model BoardGamesStore.Models.Category

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["DeleteCategory"];
}

<h2 class="mt-5">@Localizer["DeleteCategoryMessage"]</h2>
<hr />

<dl class="row mt-5">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CategoryName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CategoryName)
    </dd>
</dl>
    
<form asp-action="Delete" class="mb-4 mt-4">
    <input type="hidden" asp-for="CategoryID" />
    <input type="submit" value="@Localizer["DeleteCategoryButton"]" class="btn btn-danger me-3" />
    <a asp-action="Manage" class="btn btn-secondary">@Localizer["CancelCategoryButton"]</a>
</form>
